In [6]:
import numpy as np
import pandas as pd

In [11]:
concentrations = pd.read_csv('algae.csv')

In [12]:
concentrations

,species,genus,group,sucrose,alanin,citrate,glucose,oleic_acid
0,Fucus_vesiculosus,Fucus,brown,3.001472,3.711498,5.004262,2.548459,6.405165
1,Saccharina_japonica,Saccharina,brown,6.731070,1.255251,5.621499,6.013219,4.156700
2,Fucus_serratus,Fucus,brown,3.276870,0.346431,1.216767,3.623225,0.304573
3,Fucus_distichus,Fucus,brown,6.786996,6.641303,6.423606,2.272724,3.393203
4,Cladophora_fracta,Cladophora,green,3.861470,1.648450,6.940588,2.316955,2.528886
5,Cladophora_compacta,Cladophora,green,5.712284,3.461692,3.082826,3.343707,1.432514
6,Cladophora_gracilis,Cladophora,green,2.452623,6.881024,5.841520,2.740165,2.829016
7,Palmaria_palmata,Palmaria,red,0.704580,3.176440,5.573905,3.242090,2.245538
8,Saccharina_latissima,Saccharina,brown,1.636122,5.793163,1.071920,3.947968,4.817804
9,Ascophyllum_nodosum,Ascophyllum,brown,6.825467,0.875429,5.253527,3.414961,2.432526

In [13]:
mean_concentrations = concentrations.groupby('genus').aggregate({'sucrose' : 'mean', 'alanin' : 'mean', \
                                                                 'citrate' : 'mean', \
                                                                 'glucose' : 'mean', \
                                                                  'oleic_acid' : 'mean'})

In [14]:
mean_concentrations

              sucrose    alanin   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  3.414961    2.432526
Cladophora   4.008792  3.997055  2.800276    2.263472
Fucus        4.355112  3.566411  2.814803    3.367647
Palmaria     0.704580  3.176440  3.242090    2.245538
Saccharina   4.183596  3.524207  4.980594    4.487252

In [15]:
mean_concentrations = concentrations.groupby('genus').mean()

In [16]:
mean_concentrations

              sucrose    alanin   citrate   glucose  oleic_acid
genus
Ascophyllum  6.825467  0.875429  5.253527  3.414961    2.432526
Cladophora   4.008792  3.997055  5.288311  2.800276    2.263472
Fucus        4.355112  3.566411  4.214878  2.814803    3.367647
Palmaria     0.704580  3.176440  5.573905  3.242090    2.245538
Saccharina   4.183596  3.524207  3.346710  4.980594    4.487252

In [29]:
min_alanin_fucus = concentrations.loc[concentrations['genus'] == 'Fucus']['alanin'].min()
min_alanin_fucus

0.346431192312627

In [25]:
mean_alanin_fucus = concentrations.loc[concentrations['genus'] == 'Fucus']['alanin'].mean()
mean_alanin_fucus

3.566410778470511

In [26]:
max_alanin_fucus = concentrations.loc[concentrations['genus'] == 'Fucus']['alanin'].max()
max_alanin_fucus

6.641303172624768

In [33]:
concentrations.loc[concentrations['group'] == 'brown']['sucrose'].max() - \
    concentrations.loc[concentrations['group'] == 'brown']['sucrose'].min()

5.189344793717511

In [34]:
concentrations.loc[concentrations['group'] == 'green']['sucrose'].max() - \
    concentrations.loc[concentrations['group'] == 'green']['sucrose'].min()

3.2596615642148334

In [35]:
concentrations.loc[concentrations['group'] == 'red']['sucrose'].max() - \
    concentrations.loc[concentrations['group'] == 'red']['sucrose'].min()

0.0

In [39]:
concentrations.groupby('group').aggregate({'citrate' : 'var'})

        citrate
group
brown  5.468942
green  3.950113
red         NaN

In [40]:
concentrations.groupby('group').count()

       species  genus  sucrose  alanin  citrate  glucose  oleic_acid
group
brown        6      6        6       6        6        6           6
green        3      3        3       3        3        3           3
red          1      1        1       1        1        1           1